<app-common-layout>
  <div search>
    <form [formGroup]="ssearch" class="form-container">
      <div class="input-group mb-3">

        <select formControlName="ssrole" class="form-select drop-down" style="border-radius: 40px 0 0 40px">
          <option [value]="null" selected disabled>Role</option>
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>

        <select formControlName="ssmodule" class="form-select drop-down">
          <option [value]="null" selected disabled>Module</option>
          <option *ngFor="let module of modules" [value]="module.id">{{ module.name }}</option>
        </select>

        <select formControlName="ssoperation" class="form-select drop-down">
          <option [value]="null" selected disabled>Operations</option>
          <option *ngFor="let operation of operations" [value]="operation.id">{{ operation.name }}</option>
        </select>

        <button class="btn btn-dark" (click)="btnSearchMc()" style="border-radius: 0 0 0 0">
          <mat-icon style="padding-top: 7px">search</mat-icon>
        </button>
        <button class="btn btn-dark" (click)="btnSearchClearMc()" style=" border-radius: 0 40px 40px 0;">
          Clear &nbsp; &nbsp;
        </button>
      </div>
    </form>

  </div>
  <div form>
    <form [formGroup]="form">

      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select [value]="null" selected formControlName="role">
          <mat-option *ngFor="let role of roles " [value]="role">{{ role.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Module</mat-label>
        <mat-select [value]="null" formControlName="module">
          <mat-option *ngFor="let module of modules" [value]="module">{{ module.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Operation</mat-label>
        <mat-select [value]="null" formControlName="operation" (selectionChange)="onOperationSelectionChange()">
          <mat-option *ngFor="let operation of operations" [value]="operation">{{ operation.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Authority</mat-label>
        <input matInput readonly formControlName="authority">
      </mat-form-field>

      <div id="butpanel">
        <button class="btn btn-dark" (click)="add()" [disabled]="!(enaadd && hasInsertAuthority)">Add</button>
        <button class="btn btn-dark" (click)="clear()">Clear</button>
        <button class="btn btn-dark" (click)="update()" [disabled]="!(enaupd && hasUpdateAuthority)">Update</button>
        <button class="btn btn-dark" (click)="delete()" [disabled]="!(enadel && hasDeleteAuthority)">Delete</button>
      </div>

    </form>
  </div>
  <div view>

    <mat-table [dataSource]="data">
      <ng-container *ngFor="let column of columns; let i = index;" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef class="table-header"> {{ headers[i] }}</mat-header-cell>

        <mat-cell *matCellDef="let element">
          {{ uiassist.getProperty(element, binders[i]) }}
        </mat-cell>
      </ng-container>

      <!-- Modify Button Column -->
      <ng-container matColumnDef="modify">
        <mat-header-cell *matHeaderCellDef class="table-header"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="fillForm(row)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="w-5 h-5 mr-3"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns.concat(['modify'])"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns.concat(['modify']);"
               [ngClass]="{'selected-row': row === selectedrow}">
      </mat-row>

    </mat-table>
    <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[5,10,15,20]"></mat-paginator>

  </div>
</app-common-layout>
