<app-common-layout>
  <div form>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Unit Price</mat-label>
        <input matInput type="number" formControlName="unitPrice" min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantity on Hand</mat-label>
        <input matInput type="number" formControlName="qoh" min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Re-order Point</mat-label>
        <input matInput type="number" formControlName="rop" min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Paper Type</mat-label>
        <mat-select formControlName="paperType">
          <mat-option [value]="null">Not Selected</mat-option>
          <mat-option *ngFor="let type of paperTypes" [value]="type">{{ type.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Paper GSM</mat-label>
        <mat-select formControlName="paperGsm">
          <mat-option [value]="null">Not Selected</mat-option>
          <mat-option *ngFor="let gsm of paperGsms" [value]="gsm">{{ gsm.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Paper Size -->
      <mat-form-field appearance="outline">
        <mat-label>Paper Size</mat-label>
        <mat-select formControlName="paperSize">
          <mat-option [value]="null">Not Selected</mat-option>
          <mat-option *ngFor="let size of paperSizes" [value]="size">{{ size.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Paper Color -->
      <mat-form-field appearance="outline">
        <mat-label>Paper Color</mat-label>
        <mat-select formControlName="paperColor">
          <mat-option [value]="null">Not Selected</mat-option>
          <mat-option *ngFor="let color of paperColors" [value]="color">{{ color.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Paper Unit Type -->
      <mat-form-field appearance="outline">
        <mat-label>Paper Unit Type</mat-label>
        <mat-select formControlName="paperUnitType">
          <mat-option [value]="null">Not Selected</mat-option>
          <mat-option *ngFor="let unit of paperUnitTypes" [value]="unit">{{ unit.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Paper Status -->
      <mat-form-field appearance="outline">
        <mat-label>Paper Status</mat-label>
        <mat-select formControlName="paperStatus">
          <mat-option [value]="null">Not Selected</mat-option>
          <mat-option *ngFor="let status of paperStatuses" [value]="status">{{ status.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Date Introduced -->
      <mat-form-field appearance="outline">
        <mat-label>Date Introduced</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="doIntroduced">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Logger -->
      <mat-form-field appearance="outline" class="opacity-75">
        <mat-label>Created by</mat-label>
        <input matInput formControlName="logger" readonly>
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <div id="butpanel">
        <button type="button" class="btn btn-dark btn-lg" (click)="add()" [disabled]=" !enaadd || !hasInsertAuthority">
          Add
        </button>
        <button type="button" class="btn btn-dark btn-lg" (click)="update()"
                [disabled]=" !enaupd || !hasUpdateAuthority || disableModify">Update
        </button>
        <button type="button" class="btn btn-dark btn-lg" (click)="delete()"
                [disabled]="!enadel || !hasDeleteAuthority || disableModify">Delete
        </button>
        <button type="button" class="btn btn-dark btn-lg" (click)="clear()">Clear</button>
      </div>
    </form>


  </div>
  <div search>
    <form [formGroup]="ssearch" class="form-container">
      <div class="input-group mb-3">
        <input type="text" formControlName="name" class="form-control search-bar-items" placeholder=" Name"
               style="border-radius: 40px 0 0 40px">

        <input type="text" formControlName="code" class="form-control search-bar-items"
               placeholder="Code">
        <select formControlName="paperstatus" class="form-select gender-drop-down">
          <option [value]="null" selected disabled>Paper Status</option>
          <option *ngFor="let paperStatus of paperStatuses"
                  [value]="paperStatus.id">{{ paperStatus.name }}
          </option>
        </select>

        <select formControlName="papertype" class="form-select designation-drop-down">
          <option [value]="null" selected disabled>Paper Type</option>
          <option *ngFor="let paperType of paperTypes" [value]="paperType.id">{{ paperType.name }}
          </option>
        </select>
        <button class="btn btn-dark" (click)="btnSearchMc()" style="border-radius: 0 0 0 0">
          <mat-icon style="padding-top: 7px">search</mat-icon>
        </button>
        <button class="btn btn-dark" (click)="btnSearchClearMc()" style=" border-radius: 0 40px 40px 0;">
          Clear &nbsp; &nbsp;
        </button>
      </div>
    </form>
  </div>
  <div view>

    <mat-table [dataSource]="data">

      <ng-container *ngFor="let column of columns; let i = index;" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef class="table-header" [ngClass]="getColumnClass(i)"> {{ headers[i] }}
        </mat-header-cell>

        <mat-cell *matCellDef="let element" [ngClass]="getColumnClass(i)">
          <ng-container *ngIf="column === 'photo'; else checkStatus ">
            <img
              [src]="uiassist.getProperty(element, binders[i]) ? uiassist.getProperty(element, binders[i]) : defaultProfile"
              class="m-2 rounded-circle"
              width="50" height="50" alt="Photo"/>
          </ng-container>

          <ng-template #checkStatus>
            <ng-container *ngIf="column === 'materialstatus'; else textCell">
                  <span class="pt-2 mt-1">
                    <mat-icon style="font-size: medium"
                              [ngClass]="checkMatStatus(uiassist.getProperty(element, binders[i]))">fiber_manual_record</mat-icon>
                  </span>
              {{ uiassist.getProperty(element, binders[i]) }}
            </ng-container>
          </ng-template>
          <ng-template #textCell>
            {{ uiassist.getProperty(element, binders[i]) }}
          </ng-template>
        </mat-cell>
      </ng-container>

      <!-- Modify Button Column -->
      <ng-container matColumnDef="modify">
        <mat-header-cell *matHeaderCellDef class="table-header"> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="fillForm(row)" *ngIf="binders.length>0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              data-slot="icon"
              class="w-5 h-5 mr-3"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns.concat(['modify'])"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns.concat(['modify']);"
               [ngClass]="{'selected-row': row === selectedrow}">
      </mat-row>
    </mat-table>
    <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[5,10,15,20]"></mat-paginator>
  </div>
</app-common-layout>

