
<mat-grid-list [cols]="12" rowHeight="4rem">
  <mat-grid-tile [colspan]="4" rowspan="2" >
    <div class="c-bread-crumb">
    <app-custom-breadcrumb></app-custom-breadcrumb>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="searchCol" [rowspan]="searchRow">
<!--    <mat-card id="search">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title> <h1 class="m-0">{{ title | capitalize }} Search</h1></mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
    <div class="search">




        <ng-content  select="[search]"></ng-content>  </div>
<!--      </mat-card-content>-->
<!--    </mat-card>-->
  </mat-grid-tile>
  <mat-grid-tile [colspan]="formCol" [rowspan]="formRow">
    <div class="d-flex w-100 h-100">

      <mat-card >
      <mat-card-header>
        <mat-card-title> {{ title | capitalize }} Form</mat-card-title>
      </mat-card-header>
      <mat-card-content  class="pt-4 ">
        <ng-content   select="[form]"></ng-content>
      </mat-card-content>
    </mat-card></div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="viewCol" [rowspan]="viewRow">
    <div class="d-flex w-100 h-100">
    <mat-card>
      <mat-card-header >
        <mat-card-title >  {{ title | capitalize}} View </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <ng-content select="[view]"></ng-content>
      </mat-card-content>
    </mat-card></div>
  </mat-grid-tile>
</mat-grid-list>

