mat-card{
  width: 99%;
  height: 100%;
  margin: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.custom-mat-card {
  height: 80% !important;
  width: 98.5%;
  margin-left: 8px;
  box-shadow: 0 5px 10px 1px #00000026 !important;
  background-color: white;
  border-radius: 10px;
}

mat-card-content{
  overflow: auto;
  height: 100%;
  padding-top: 10px;
}

mat-card-header{
  background: #1e4263;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

#privilageform mat-form-field{
  padding-left: 6px;
  padding-top: 10px;
}

#operationform mat-form-field{
  padding-left: 6px;
  padding-top: 10px;
}

#loading img{
  width: 30px;
  height: 25px;
  margin-left: 90px;
}

#ssearch mat-card-content{
  padding-top: 10px;
}

#ssearch mat-form-field {
  padding-left: 15px;
  width: 90%;
}

#ssearch button{
  width: 155px;
  margin-left:10px;
  margin-top: 5px;
  background-color: #435f3b;
  color: white;
}

#innertable mat-table{
  border: solid #8aa88a;
}

#btnAdd{
  background-color: #355E3B;
  color: white;
  left: 1px;
  bottom: 10px;
}

#btnSave{
  background-color: #355E3B;
  color: white;
  left: 1px;
  bottom: 10px;
}

#butpanel{
  width: auto;
  height: auto;
  margin: 10px 0 20px -5px;
  display: flex;
}

#butpanel button{
  width: 160px;
  padding: 10px 20px 10px 20px;
  margin: 2px;
  font-size: 16px;
  /*color: white;*/
}

mat-table{
  overflow: auto;
}

.selected-row{
  background-color: #c9e6ff!important;
}

.mat-row:hover {
  background-color: inherit!important;
}

button:disabled {
  opacity: 0.5;
}

/*related to breadcrumb bar*/
.custom-breadcrumb{
  width: 8rem;
  height: 3rem;
  margin: 15px 15px 0 30px;
}

.custom-breadcrumb div{
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

mat-icon{
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
}

::placeholder {
  color: gray; /* Change placeholder text color */
  font-style: normal; /* Make it italic */
  font-size: 0.9rem; /* Adjust font size */
}

input{
  height: 45px;
  width: 10% !important;
}

.custom-card-content{
  display: flex;
  justify-content: space-between; /* Breadcrumb on the left, form on the right */
  align-items: center; /* Vertically align both breadcrumb and form */
  padding: 0 !important;
  margin: 0 !important;
  height: 80%;
  overflow: hidden;
}

.input-group {
  margin-top: 30px;
  margin-right: 30px; /* Align the form to the far right with padding */
}

.form-container {
  margin-right: 20px;
  width: auto;
}

mat-paginator{
  margin-top: 15px;
}

input[matInput] {
  width: 100% !important;
}

mat-card-title{
  padding-left: 10px;
}

.drop-down{
  font-style: normal !important; /* Make it italic */
  font-size: 0.9rem !important; /* Adjust font size */
  width: 140px;
}

.custom-text {
  width: 100% !important;
  height: 50px;
  font-size: 0.95rem;    /* Adjust to a smaller font */
}

.border-red {
  border: 1px solid red !important;
}

.border-gray {
  border: 1px solid #ced4da !important; /* default Bootstrap gray */
}

input.form-control.time-input:focus {
  box-shadow: none !important;
  border: 1px solid #65448e !important;
}

input.form-control.time-input.border-red:focus {
  box-shadow: none;
  border: 1px solid red !important;
}
