img {
  object-fit: cover;
  margin-top: 60px;
  width: 250px; height: 250px;
  margin-right: 35rem;
  background-color: lightblue;
}

.fields{
  width: 23.7%;
}

.eye-icon {
  border: 1px solid #d9d8d8;
  border-radius: 0 8px 8px 0;
  height: 40px;
  width: 40px;
}

.eye-icon button  {
  height: 40px;
  width: 40px;
}

.eye-icon button mat-icon {
  height: 25px;
  width: 20px;
  font-size: 20px;
  margin-top: -4px;
  margin-left: -3px;
}

.fields .form-control {
  height: 40px; /* Adjust as needed */
  font-size: 14px; /* Adjust text size */
  padding: 5px 10px; /* Adjust padding */
}



