<mat-sidenav-container class="border-5  border-dark border">
  <mat-sidenav class="navigation border-0" [class.mini]="!opened" [(opened)]="opened" mode="side">
    <ul class="nav flex-column">
      <li>
        <div class="d-flex pt-1 justify-content-center w-100 align-content-center">
          <img src="assets/wnl_logo_3.png" class="img-logo">
          <mat-divider></mat-divider>
        </div>
      </li>

      <li class="nav-item main-menu-item" routerLinkActive="active-link-2">
        <a routerLink="home" class="nav-link">
        <span class="icon">
          <mat-icon>home</mat-icon>
        </span>
          <span class="title">Home</span>
        </a>
      </li>

      <li class="nav-item main-menu-item" routerLinkActive="active-link-2">
        <a routerLink="dashboard" class="nav-link">
        <span class="icon">
          <mat-icon>widgets</mat-icon>
        </span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item" *ngFor="let menuItem of menuGroup; let i = index">
        <a class="nav-link p-0" *ngIf="isMenuVisible(menuItem.Menu)">
          <div class="accordion accordion-flush" [id]="'accordionFlushExample' + i">
            <div class="accordion-item">
              <h2 class="accordion-header" [id]="'flush-heading' + i">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#flush-collapse' + i"
                        aria-expanded="false"
                        [attr.aria-controls]="'flush-collapse' + i">
                  {{ menuItem.Menu  }}
                </button>
              </h2>
              <div [id]="'flush-collapse' + i" class="accordion-collapse collapse"
                   [attr.aria-labelledby]="'flush-heading' + i"
                   [attr.data-bs-parent]="'#accordionFlushExample' + i">
                <div class="accordion-body sub-navigation" *ngFor="let subMenuItem of menuItem.MenuItems">
                  <div class="sub-menu-item" [routerLink]="subMenuItem.isVisible ? subMenuItem.routerLink : null"
                       routerLinkActive="active-link">
                    <a class="nav-link">
                    <span class="icon">
                      <mat-icon>{{ subMenuItem.icon }}</mat-icon>
                    </span>
                      <span class="title">{{ subMenuItem.name | capitalize}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

    </ul>
  </mat-sidenav>


  <mat-sidenav-content>

    <mat-toolbar class="shadow   rounded-5 sticky-top">
      <mat-toolbar-row class="rounded-5">

    <span class="toolbar-left">
      <button mat-icon-button (click)="opened=!opened" class="btn-nav"><mat-icon>menu</mat-icon></button>
      <!--      <img src="/assets/small-white-open.png" class="img-logo">-->
    </span>

        <span class="toolbar-right">


          <a [matMenuTriggerFor]="menu" class="d-flex text-decoration-none " style="color: black;cursor: pointer">
            <div class="proinfo">


            <label class="lbl-user">{{ authorizationManager.getUsername().toUpperCase() }}</label>
            <label class="lbl-role">{{ activeRole }}</label>
</div>
            <img [src]="userImage" class="img-user" alt=""/>
          </a>


        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="profile" *ngIf="checkIsAdmin()">
            <mat-icon>account_circle</mat-icon>
            <span class="mat-menu-span">Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span class="mat-menu-span">Logout</span>
          </button>
        </mat-menu>
 </span>

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
