<mat-grid-list cols="12" gutterSize="5" rowHeight="4rem">
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <mat-card class="heading-card" style="">
      <img id="headImg" src="assets/wnl_logo.png" alt="home">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="10" [colspan]="6">
    <div class="home-video-container ">
      <div class="home-video " >
<!--        <h1></h1>-->
        <!--        <video src="assets/home.mp4" autoplay loop width="800px"></video>-->
        <img src="assets/home.png" width="650px" alt="">

<!--        <h2></h2>-->
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="10" >
    <mat-card class="vision-card">
      <mat-card-header class="mx-auto">
        <mat-card-title>Vision</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        To be the most independent and socially responsible media group in Sri Lanka, upholding freedom of expression and protecting the right of the individual through journalistic excellence.
      </mat-card-content>
    </mat-card>
    <mat-card class="mission-card">
      <mat-card-header class="mx-auto">
        <mat-card-title>
          Mission
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        Our mission is to provide timely and comprehensive information, to everyone, wherever they are We shall report the facts as they are, while reflecting a wide variety of views to keep them informed and help them shape an opinion. We shall provide a forum for the public to discuss issues of importance and interest We believe that knowledge and information form the foundation of social equality and shall work diligently to connect to the younger generation
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
