<mat-grid-list cols="12" gutterSize="5" rowHeight="4rem">
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <mat-card class="heading-card" style="">
      <img id="headImg" src="assets/wnl_logo_3.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="10" [colspan]="6">
    <div class="home-video-container ">

      <div class="home-video " >
<!--        <h1></h1>-->
        <!--        <video src="assets/home.mp4" autoplay loop width="800px"></video>-->
        <img src="assets/home.jpg" width="650px" alt="">

<!--        <h2></h2>-->
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="10" >
    <mat-card class="vision-card">
      <mat-card-header class="mx-auto">
        <mat-card-title>Vision</mat-card-title>

      </mat-card-header>
      <mat-card-content>
        To revolutionize operational efficiency by providing a seamless, scalable, and intelligent management system
        that empowers businesses to optimize procurement, streamline production processes, and maintain accurate
        inventory, ensuring sustainable growth and superior customer satisfaction.
      </mat-card-content>
    </mat-card>
    <mat-card class="mission-card">
      <mat-card-header class="mx-auto">
        <mat-card-title>
          Mission
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        Our mission is to provide an innovative and integrated system that optimizes purchase, production, and inventory
        processes, enabling businesses to operate with greater efficiency, accuracy, and scalability while promoting
        sustainable practices and delivering exceptional value to customers through real-time insights and user-friendly
        solutions.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
